<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ title }}
    </title>
    <!-- CSS files -->
    <link href="{{ asset('admin/css/tabler.min.css?1684106062') }}" rel="stylesheet" />
    <style>
      @import url('https://rsms.me/inter/inter.css');
      
      :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      
      body {
        font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body>
    <script src="{{ asset('admin/js/demo-theme.min.js?1684106062') }}">
      
    </script>
    <div class="page">
      @!component('components/navigation/admin/navbar')
      <div class="page-wrapper">
        @!component('components/navigation/admin/page-header')
        <div class="page-body">
          <div class="container-xl">
            {{{ await $slots.main() }}}
          </div>
        </div>
      </div>
    </div>
      
    </script>
    <!-- Tabler Core -->
    <script src="{{ asset('admin/js/tabler.min.js?1684106062') }}" defer>
      
    </script>
  </body>
</html>
